<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Waza{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'}">
</head>
<body>
    <!--header>nav>ul>li>a-->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio:index' %}">Inicio</a></li>
                <li><a href="{% url 'app1:v1' %}">V1</a></li>
                <li><a href="{% url 'app1:v2' %}">V2</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; Mi proyectada 2026</p>
    </footer>
</body>
</html>